* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #454545;
  height: 100%;
}
.container {
  width: 60em;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #fff;
}
.images {
	padding: 2em 0;
	display: block;
	margin: 0 auto;
	width: 30em;
	height: 30em;
}
.accordion:hover .accordion-item:hover .accordion-item_content,
.accordion .accordion-item--default .accordion-item_content{
    height: 30em;
}

.accordion-item_content,
.accordion:hover .accordion-item_content {
    height: 0;
    overflow: hidden;
    transition: height .5s;
}

.accordion {
	padding: 2em;
  width: 100%;
  height: 90vh;
}

.accordion .accordion-item {
	position: relative;
	background-color: #fff;
	cursor: pointer;
  border: 1px solid #666;
  padding: 1em;
  color: #abaaaa;
	transition: 0.3s ease-out
}
.accordion .accordion-item:hover .close {
  color: #000;
  transition: all 0.3s;
  rotate: 45deg;
} 
.accordion-item__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

h2 {
	font-size: 1.5em;
}
.close::after {
	content: '\271A';
}